body{
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    background-color: #FFF;
    font-style: normal;
}
.header-logo{
color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.header-logo-web{
    color: #4D5AE5;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.header-list-item{
    color:  #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.list-address-mail{
color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.list-address-tel{
    color: #434455;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
}
.section-text{
    color:  #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em; 
}
 .button{
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
 }
.section-strategy{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.002em;
}
.section-strategy-text{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-puctuality{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02;
}
.section-puctuality-text{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-diligence{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-diligence-text{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-technologies{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-technologies-text{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

}
.section-team{
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02emx;
        text-transform: capitalize;
}
.section-team-name1{
        color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-team-proffecion1{
    color: #434455;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-team-name2{
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-team-proffecion2{
    color: #434455;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02emx;
}
.section-team-name3{
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-team-proffecion3{
    color: #434455;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-team-name4{
    color: #2E2F42;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-team-proffecion4{
    color: #434455;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-portfolio{
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.section-banking{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-banking-app{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-cashless-payment{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-payment-marketing{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-meditation{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-meditation-app{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-taxiservice{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-taxiservice-marketing{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.section-illustrations{
color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-design{
color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-courses{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.section-courses-marketing{
    color:  #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.footer-logo{
    color: #F4F4FD;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.02em;
        text-transform: uppercase;
}
.footer-logo-web{
    color: #4D5AE5;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.02em;
        text-transform: uppercase;
}
.footer-text{
    color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02;
}









